# Ignore environment files
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore dependency directories
node_modules/
venv/
__pycache__/
neo4j-env/
data/vo.owl
data/t_gene.csv

# Ignore log files
logs/
*.log

# Ignore compiled files
*.pyc
*.class

# Ignore user-specific config
.idea/
.vscode/